INSERT INTO [CableBracingArmatures]
           ([ID]
           ,[ArmatureID]
           ,[CableBracingID]
           ,[X]
           ,[Y]
           ,[Count])
SELECT NEWID()
      ,[ArmatureID]
      ,[CableBracingID]
      ,100
      ,100 + [Order] * 100
      ,[Count]
  FROM [CableBracingConfigurations]
  order by [Order]
GO

insert into [CableBracingArmatures]
		([ID]
           ,[ArmatureID]
           ,[CableBracingID]
           ,[X]
           ,[Y]
           ,[Count])
SELECT NEWID()
      ,[ArmatureID]
      ,[CableBracingID]
      ,[X] + 220
      ,[Y]
      ,[Count]      
  FROM [CableBracingArmatures]
  where [Count] = 2 
GO

UPDATE [CableBracingArmatures]
   SET [Count] = 1
      
 WHERE [Count] = 2
GO