/****** Object:  Table [Armatures]    Script Date: 30.10.2012 23:28:39 ******/
CREATE TABLE [Armatures](
	[ID] [uniqueidentifier] NOT NULL,
	[ArmatureTypeID] [uniqueidentifier] NOT NULL,
	[FactoryID] [uniqueidentifier] NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Code] [nvarchar](255) NOT NULL,
	[GOST] [nvarchar](255) NOT NULL,
	[Weight] [float] NOT NULL,
	[Import] [bit] NOT NULL,
	[ProductCode] [nvarchar](255) NULL,
PRIMARY KEY([ID]))
GO

/****** Object:  Table [ArmatureTypes]    Script Date: 30.10.2012 23:28:39 ******/
CREATE TABLE [ArmatureTypes](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Order] [int] NOT NULL,	
	[EquipmentType] [int] NOT NULL,
PRIMARY KEY([ID]))
GO

/****** Object:  Table [CableBracingConfigurations]    Script Date: 30.10.2012 23:28:39 ******/
CREATE TABLE [CableBracingConfigurations](
	[ID] [uniqueidentifier] NOT NULL,
	[ArmatureID] [uniqueidentifier] NOT NULL,
	[CableBracingID] [uniqueidentifier] NOT NULL,
	[Order] [int] NOT NULL,
	[Count] [int] NOT NULL,
PRIMARY KEY([ID]))
GO

/****** Object:  Table [CableBracings]    Script Date: 30.10.2012 23:28:39 ******/
CREATE TABLE [CableBracings](
	[ID] [uniqueidentifier] NOT NULL,
	[Code] [nvarchar](255) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Scheme] [nvarchar](255) NULL,
	[Goal] [int] NOT NULL,
	[Voltage] [int] NOT NULL,
PRIMARY KEY([ID]))
GO

/****** Object:  Table [Configuration]    Script Date: 30.10.2012 23:28:39 ******/
CREATE TABLE [Configuration](
	[ID] [uniqueidentifier] NOT NULL,
	[Key] [nvarchar](255) NOT NULL,
	[Value] [nvarchar](255) NOT NULL,
PRIMARY KEY([ID]))
GO

/****** Object:  Table [Factories]    Script Date: 30.10.2012 23:28:39 ******/
CREATE TABLE [Factories](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[ShortName] [nvarchar](255) NOT NULL,
	[FactoryType] [int] NOT NULL,
PRIMARY KEY([ID]))
GO

/****** Object:  Table [Foundation_Categories]    Script Date: 30.10.2012 23:28:39 ******/
CREATE TABLE [Foundation_Categories](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Order] [int] NOT NULL,
PRIMARY KEY([ID]))
GO

/****** Object:  Table [Foundation_ConcreteTypes]    Script Date: 30.10.2012 23:28:39 ******/
CREATE TABLE [Foundation_ConcreteTypes](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Order] [int] NOT NULL,
PRIMARY KEY([ID]))
GO

/****** Object:  Table [Foundation_Configurations]    Script Date: 30.10.2012 23:28:39 ******/
CREATE TABLE [Foundation_Configurations](
	[ID] [uniqueidentifier] NOT NULL,
	[FoundationID] [uniqueidentifier] NOT NULL,
	[SubFoundationID] [uniqueidentifier] NOT NULL,
	[Count] [int] NOT NULL,
PRIMARY KEY([ID]))
GO

/****** Object:  Table [Foundation_Fixation]    Script Date: 30.10.2012 23:28:39 ******/
CREATE TABLE [Foundation_Fixation](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Order] [int] NOT NULL,
PRIMARY KEY([ID]))
GO

/****** Object:  Table [Foundation_Foundations]    Script Date: 30.10.2012 23:28:39 ******/
CREATE TABLE [Foundation_Foundations](
	[ID] [uniqueidentifier] NOT NULL,
	[ConcreteTypeID] [uniqueidentifier] NOT NULL,
	[FactoryID] [uniqueidentifier] NULL,
	[CategoryID] [uniqueidentifier] NOT NULL,
	[FixationID] [uniqueidentifier] NOT NULL,
	[TypeExpandInOrderSpecification] [int] NOT NULL,
	[TypeExpandInSpecification] [int] NOT NULL,
	[MontageScheme] [nvarchar](255) NULL,
	[MountingDrawing] [nvarchar](255) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Code] [nvarchar](255) NOT NULL,
	[Volume] [float] NOT NULL,
	[Weight] [float] NOT NULL,
	[Width] [float] NULL,
	[Length] [float] NULL,
	[Height] [float] NULL,
	[Eccentricity] [float] NULL,
PRIMARY KEY([ID]))
GO

/****** Object:  Table [LandTypes]    Script Date: 30.10.2012 23:28:39 ******/
CREATE TABLE [LandTypes](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Order] [int] NOT NULL,
	[AddToCommonAllotment] [bit] NOT NULL,
	[Kind] [int] NULL,
PRIMARY KEY([ID]))
GO

/****** Object:  Table [Pylons]    Script Date: 30.10.2012 23:28:39 ******/
CREATE TABLE [Pylons](
	[ID] [uniqueidentifier] NOT NULL,
	[TypeProjectID] [uniqueidentifier] NULL,
	[FactoryID] [uniqueidentifier] NULL,
	[Voltage] [int] NOT NULL,
	[Type] [int] NOT NULL,
	[Code] [nvarchar](255) NOT NULL,
	[Sheme] [nvarchar](255) NOT NULL,
	[BaseX] [float] NOT NULL,
	[BaseY] [float] NOT NULL,
	[LugBottomLeftTraverse] [float] NOT NULL,
	[LugBottomRightTraverse] [float] NOT NULL,
	[BottomLeftTraverse] [float] NOT NULL,
	[BottomRightTraverse] [float] NOT NULL,
	[CoefficientOfFlexibility] [float] NOT NULL,
	[RackButtDiameter] [float] NOT NULL,
	[Height] [float] NOT NULL,
	[HeightBottomTraverse] [float] NOT NULL,
	[HeightMiddleTraverse] [float] NOT NULL,
	[HeightTopTraverse] [float] NOT NULL,
	[LugMiddleLeftTraverse] [float] NOT NULL,
	[LugMiddleRightTraverse] [float] NOT NULL,
	[MiddleLeftTraverse] [float] NOT NULL,
	[MiddleRightTraverse] [float] NOT NULL,
	[AngleOfBeltLowerSection] [float] NOT NULL,
	[AngleOfBeltMiddleSection] [float] NOT NULL,
	[AngleOfBeltTopSection] [float] NOT NULL,
	[LugTopLeftTraverse] [float] NOT NULL,
	[LugTopRightTraverse] [float] NOT NULL,
	[TopLeftTraverse] [float] NOT NULL,
	[TopRightTraverse] [float] NOT NULL,
	[WeightLengthSpan] [float] NOT NULL,
	[WindLengthSpan] [float] NOT NULL,
	[ArmatureWeigth] [float] NOT NULL,
	[ConcreteVolume] [float] NOT NULL,
	[WoodVolume] [float] NOT NULL,
	[LadderWeigth] [float] NOT NULL,
	[MetalWeight] [float] NOT NULL,
	[HasGuyRopes] [bit] NOT NULL,
	[TemporaryLandAllotment] [float] NOT NULL,
	[PermanentLandAllotmentExtended] [float] NOT NULL,
	[PermanentLandAllotment] [float] NOT NULL,
	[TypeSuspension] [int] NOT NULL,
	[Material] [int] NOT NULL,
	[RackCount] [int] NOT NULL,
	[AngleOfGuy] [float] NULL,
	[CoefficientOfDynamics] [float] NULL,
	[HeightRopeTraverse] [float] NULL,
	[LengthRopeLeftTraverse] [float] NULL,
	[LengthRopeRightTraverse] [float] NULL,
	[LugRopeLeftTraverse] [float] NULL,
	[LugRopeRightTraverse] [float] NULL,
	[Penetration] [float] NULL,
	[RackTopDiameter] [float] NULL,
	[WeightMetiz] [float] NULL,
	[WeightWithZinc] [float] NULL,
	[WeightCasting] [float] NULL,
	[WeightForging] [float] NULL,
	[RackNumberOfFaces] [int] NULL,
	[CodeRack] [nvarchar](255) NULL,
	[FullName] [nvarchar](255) NULL,
	[IsCentrifuged] [bit] NULL,
	[IsGalvanized] [bit] NULL,
PRIMARY KEY([ID]))
GO

/****** Object:  Table [Slashing_ForestYield]    Script Date: 30.10.2012 23:28:39 ******/
CREATE TABLE [Slashing_ForestYield](
	[Size] [int] NOT NULL,
	[Depth] [int] NOT NULL,
	[Order] [int] NOT NULL,
	[TrunkDiameter] [nvarchar](255) NOT NULL,
	[StumpDiameter] [nvarchar](255) NOT NULL,
	[CountTrees] [int] NOT NULL,
	[BusinessWood] [int] NOT NULL,
	[Wood] [int] NOT NULL,
PRIMARY KEY([Size], [Depth]))
GO

/****** Object:  Table [Slashing_WoodTypes]    Script Date: 30.10.2012 23:28:39 ******/
CREATE TABLE [Slashing_WoodTypes](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Radius] [float] NOT NULL,
PRIMARY KEY([ID]))
GO

/****** Object:  Table [Slashing_Zones]    Script Date: 30.10.2012 23:28:39 ******/
CREATE TABLE [Slashing_Zones](
	[ID] [uniqueidentifier] NOT NULL,
	[Voltage] [int] NOT NULL,
	[WidthZone] [float] NOT NULL,
	[ReserveRange] [float] NOT NULL,
PRIMARY KEY([ID]))
GO

/****** Object:  Table [TypeProjects]    Script Date: 30.10.2012 23:28:39 ******/
CREATE TABLE [TypeProjects](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[ShortName] [nvarchar](255) NOT NULL,
	[Voltage] [int] NOT NULL,
PRIMARY KEY([ID]))
GO

/****** Object:  Table [Wires]    Script Date: 30.10.2012 23:28:39 ******/
CREATE TABLE [Wires](
	[ID] [uniqueidentifier] NOT NULL,
	[FactoryID] [uniqueidentifier] NULL,
	[Type] [int] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Code] [nvarchar](255) NOT NULL,
	[GOST] [nvarchar](255) NULL,
	[Weight] [float] NOT NULL,
	[Diameter] [float] NOT NULL,
	[TensionMaximumLoad] [float] NOT NULL,
	[CrossSectionArea] [float] NOT NULL,
	[CrossSectionAreaAl] [float] NOT NULL,
	[TensionMidOperatingLoad] [float] NOT NULL,
	[TemperatureCompensation] [float] NOT NULL,
	[Alfa] [float] NOT NULL,
	[ModD] [float] NOT NULL,
	[ModE] [float] NOT NULL,
	[ModF] [float] NOT NULL,
	[Import] [bit] NOT NULL,
	[ProductCode] [nvarchar](255) NULL,
	[A1] [float] NULL,
	[A2] [float] NULL,
	[A3] [float] NULL,
	[ConstructionLength] [float] NULL,
	[CrossSectionAreaSteel] [float] NULL,
	[Exp1] [float] NULL,
	[Max1] [float] NULL,
	[ClampCode] [nvarchar](255) NULL,
PRIMARY KEY([ID])) 
GO

ALTER TABLE [Armatures] ADD  CONSTRAINT [FKF5DEAD7F7D358DEC] FOREIGN KEY([ArmatureTypeID])
REFERENCES [ArmatureTypes] ([ID])
GO

ALTER TABLE [CableBracingConfigurations] ADD  CONSTRAINT [FK28432854D358EB99] FOREIGN KEY([CableBracingID])
REFERENCES [CableBracings] ([ID])
GO

ALTER TABLE [CableBracingConfigurations] ADD CONSTRAINT [FK28432854F80E0AFB] FOREIGN KEY([ArmatureID])
REFERENCES [Armatures] ([ID])
GO

ALTER TABLE [Foundation_Configurations] ADD CONSTRAINT [FK2506FE4376E78CBF] FOREIGN KEY([SubFoundationID])
REFERENCES [Foundation_Foundations] ([ID])
GO

ALTER TABLE [Foundation_Configurations] ADD CONSTRAINT [FK2506FE43D85312D6] FOREIGN KEY([FoundationID])
REFERENCES [Foundation_Foundations] ([ID])
GO

ALTER TABLE [Foundation_Foundations] ADD CONSTRAINT [FK6BA254542DAA4573] FOREIGN KEY([FixationID])
REFERENCES [Foundation_Fixation] ([ID])
GO

ALTER TABLE [Foundation_Foundations] ADD CONSTRAINT [FK6BA254544BF8BB67] FOREIGN KEY([ConcreteTypeID])
REFERENCES [Foundation_ConcreteTypes] ([ID])
GO

ALTER TABLE [Foundation_Foundations] ADD CONSTRAINT [FK6BA25454811BE866] FOREIGN KEY([CategoryID])
REFERENCES [Foundation_Categories] ([ID])
GO

ALTER TABLE [Foundation_Foundations] ADD CONSTRAINT [FK6BA25454B23AC06] FOREIGN KEY([FactoryID])
REFERENCES [Factories] ([ID])
GO

ALTER TABLE [Pylons] ADD CONSTRAINT [FK617366BAB102EDED] FOREIGN KEY([TypeProjectID])
REFERENCES [TypeProjects] ([ID])