USE [ElectricalDB]
GO
ALTER TABLE [dbo].[VolumeTerms] DROP CONSTRAINT [FKD2C7EEC16829F060]
GO
ALTER TABLE [dbo].[Soils] DROP CONSTRAINT [FK175D660A60A36A30]
GO
ALTER TABLE [dbo].[SectionCornerSets] DROP CONSTRAINT [FK1A71D3FFD8442297]
GO
ALTER TABLE [dbo].[SectionCornerSets] DROP CONSTRAINT [FK1A71D3FF897DC25C]
GO
ALTER TABLE [dbo].[SectionCornerSets] DROP CONSTRAINT [FK1A71D3FF6E7E38D3]
GO
ALTER TABLE [dbo].[PylonSections] DROP CONSTRAINT [FK7782CD0EAC8987F6]
GO
ALTER TABLE [dbo].[Pylons] DROP CONSTRAINT [FKCC7D9FD7E801E0DA]
GO
ALTER TABLE [dbo].[Pylons] DROP CONSTRAINT [FKCC7D9FD7562631FC]
GO
ALTER TABLE [dbo].[Pylons] DROP CONSTRAINT [FK617366BAB102EDED]
GO
ALTER TABLE [dbo].[PylonConfigurationsEquipmentConfigurations] DROP CONSTRAINT [FK16198394F2FEE708]
GO
ALTER TABLE [dbo].[PylonConfigurationsEquipmentConfigurations] DROP CONSTRAINT [FK161983948AF2E85A]
GO
ALTER TABLE [dbo].[PylonConfigurationsClampTypes] DROP CONSTRAINT [FK62420E87F7AA390A]
GO
ALTER TABLE [dbo].[PylonConfigurationsClampTypes] DROP CONSTRAINT [FK62420E87F2FEE708]
GO
ALTER TABLE [dbo].[PylonConfigurations] DROP CONSTRAINT [FKB7DEA357AC8987F6]
GO
ALTER TABLE [dbo].[PylonConfigurationArmatures] DROP CONSTRAINT [FK34697DECF2FEE708]
GO
ALTER TABLE [dbo].[PylonConfigurationArmatures] DROP CONSTRAINT [FK34697DEC8EC13574]
GO
ALTER TABLE [dbo].[Foundation_Foundations] DROP CONSTRAINT [FK9F20F282F870569C]
GO
ALTER TABLE [dbo].[Foundation_Foundations] DROP CONSTRAINT [FK9F20F282562631FC]
GO
ALTER TABLE [dbo].[Foundation_Foundations] DROP CONSTRAINT [FK9F20F2823150E9E]
GO
ALTER TABLE [dbo].[Foundation_Foundations] DROP CONSTRAINT [FK9F20F2821045E52B]
GO
ALTER TABLE [dbo].[Foundation_Foundations] DROP CONSTRAINT [FK6BA25454B23AC06]
GO
ALTER TABLE [dbo].[Foundation_Foundations] DROP CONSTRAINT [FK6BA25454811BE866]
GO
ALTER TABLE [dbo].[Foundation_Foundations] DROP CONSTRAINT [FK6BA254544BF8BB67]
GO
ALTER TABLE [dbo].[Foundation_Foundations] DROP CONSTRAINT [FK6BA254542DAA4573]
GO
ALTER TABLE [dbo].[Foundation_Configurations] DROP CONSTRAINT [FK788F6DCBD4E6820]
GO
ALTER TABLE [dbo].[Foundation_Configurations] DROP CONSTRAINT [FK788F6DCB590354BE]
GO
ALTER TABLE [dbo].[Foundation_Configurations] DROP CONSTRAINT [FK2506FE43D85312D6]
GO
ALTER TABLE [dbo].[Foundation_Configurations] DROP CONSTRAINT [FK2506FE4376E78CBF]
GO
ALTER TABLE [dbo].[Equipments] DROP CONSTRAINT [FK321F675E801E0DA]
GO
ALTER TABLE [dbo].[EquipmentConfigurationsArmatures] DROP CONSTRAINT [FKCA4E75138EC13574]
GO
ALTER TABLE [dbo].[EquipmentConfigurationsArmatures] DROP CONSTRAINT [FKCA4E75138AF2E85A]
GO
ALTER TABLE [dbo].[EquipmentConfigurations] DROP CONSTRAINT [FK8AA0EEED63ED9620]
GO
ALTER TABLE [dbo].[EquipmentConfigurationClampTypes] DROP CONSTRAINT [FK95416DD8F7AA390A]
GO
ALTER TABLE [dbo].[EquipmentConfigurationClampTypes] DROP CONSTRAINT [FK95416DD88AF2E85A]
GO
ALTER TABLE [dbo].[Clamp_Types] DROP CONSTRAINT [FK2F074E83E801E0DA]
GO
ALTER TABLE [dbo].[Clamp_Clamps] DROP CONSTRAINT [FK3BFD9932F7AA390A]
GO
ALTER TABLE [dbo].[Clamp_Clamps] DROP CONSTRAINT [FK3BFD9932B18317D6]
GO
ALTER TABLE [dbo].[Clamp_Clamps] DROP CONSTRAINT [FK3BFD9932AC8987F6]
GO
ALTER TABLE [dbo].[CableBracingConfigurations] DROP CONSTRAINT [FKB784BD7E8EC13574]
GO
ALTER TABLE [dbo].[CableBracingConfigurations] DROP CONSTRAINT [FKB784BD7E3B3BEF56]
GO
ALTER TABLE [dbo].[CableBracingConfigurations] DROP CONSTRAINT [FK28432854F80E0AFB]
GO
ALTER TABLE [dbo].[CableBracingConfigurations] DROP CONSTRAINT [FK28432854D358EB99]
GO
ALTER TABLE [dbo].[Armatures] DROP CONSTRAINT [FKF5DEAD7F7D358DEC]
GO
ALTER TABLE [dbo].[Armatures] DROP CONSTRAINT [FK7A7EC91AE801E0DA]
GO
ALTER TABLE [dbo].[Armatures] DROP CONSTRAINT [FK7A7EC91A31F529A4]
GO
ALTER TABLE [dbo].[Allotment_Fixations] DROP CONSTRAINT [FKE9726AE4E801E0DA]
GO
ALTER TABLE [dbo].[Allotment_Allotments] DROP CONSTRAINT [FK32489D2F2FEE708]
GO
ALTER TABLE [dbo].[Allotment_Allotments] DROP CONSTRAINT [FK32489D29F0770BC]
GO
/****** Object:  View [dbo].[WiresFormat2011]    Script Date: 31.01.2013 16:36:40 ******/
DROP VIEW [dbo].[WiresFormat2011]
GO
/****** Object:  View [dbo].[PylonsFormat2011]    Script Date: 31.01.2013 16:36:40 ******/
DROP VIEW [dbo].[PylonsFormat2011]
GO
/****** Object:  Table [dbo].[Wires]    Script Date: 31.01.2013 16:36:40 ******/
DROP TABLE [dbo].[Wires]
GO
/****** Object:  Table [dbo].[VolumeTerms]    Script Date: 31.01.2013 16:36:40 ******/
DROP TABLE [dbo].[VolumeTerms]
GO
/****** Object:  Table [dbo].[TypeProjects]    Script Date: 31.01.2013 16:36:40 ******/
DROP TABLE [dbo].[TypeProjects]
GO
/****** Object:  Table [dbo].[Soils]    Script Date: 31.01.2013 16:36:40 ******/
DROP TABLE [dbo].[Soils]
GO
/****** Object:  Table [dbo].[Slashing_Zones]    Script Date: 31.01.2013 16:36:40 ******/
DROP TABLE [dbo].[Slashing_Zones]
GO
/****** Object:  Table [dbo].[Slashing_WoodTypes]    Script Date: 31.01.2013 16:36:40 ******/
DROP TABLE [dbo].[Slashing_WoodTypes]
GO
/****** Object:  Table [dbo].[Slashing_ForestYield]    Script Date: 31.01.2013 16:36:40 ******/
DROP TABLE [dbo].[Slashing_ForestYield]
GO
/****** Object:  Table [dbo].[SectionCornerSets]    Script Date: 31.01.2013 16:36:40 ******/
DROP TABLE [dbo].[SectionCornerSets]
GO
/****** Object:  Table [dbo].[SectionCorners]    Script Date: 31.01.2013 16:36:40 ******/
DROP TABLE [dbo].[SectionCorners]
GO
/****** Object:  Table [dbo].[PylonSections]    Script Date: 31.01.2013 16:36:40 ******/
DROP TABLE [dbo].[PylonSections]
GO
/****** Object:  Table [dbo].[Pylons]    Script Date: 31.01.2013 16:36:40 ******/
DROP TABLE [dbo].[Pylons]
GO
/****** Object:  Table [dbo].[PylonConfigurationsEquipmentConfigurations]    Script Date: 31.01.2013 16:36:40 ******/
DROP TABLE [dbo].[PylonConfigurationsEquipmentConfigurations]
GO
/****** Object:  Table [dbo].[PylonConfigurationsClampTypes]    Script Date: 31.01.2013 16:36:40 ******/
DROP TABLE [dbo].[PylonConfigurationsClampTypes]
GO
/****** Object:  Table [dbo].[PylonConfigurations]    Script Date: 31.01.2013 16:36:40 ******/
DROP TABLE [dbo].[PylonConfigurations]
GO
/****** Object:  Table [dbo].[PylonConfigurationArmatures]    Script Date: 31.01.2013 16:36:40 ******/
DROP TABLE [dbo].[PylonConfigurationArmatures]
GO
/****** Object:  Table [dbo].[MigSharp]    Script Date: 31.01.2013 16:36:40 ******/
DROP TABLE [dbo].[MigSharp]
GO
/****** Object:  Table [dbo].[LandTypes]    Script Date: 31.01.2013 16:36:40 ******/
DROP TABLE [dbo].[LandTypes]
GO
/****** Object:  Table [dbo].[Foundation_Foundations]    Script Date: 31.01.2013 16:36:40 ******/
DROP TABLE [dbo].[Foundation_Foundations]
GO
/****** Object:  Table [dbo].[Foundation_Fixation]    Script Date: 31.01.2013 16:36:40 ******/
DROP TABLE [dbo].[Foundation_Fixation]
GO
/****** Object:  Table [dbo].[Foundation_Configurations]    Script Date: 31.01.2013 16:36:40 ******/
DROP TABLE [dbo].[Foundation_Configurations]
GO
/****** Object:  Table [dbo].[Foundation_ConcreteTypes]    Script Date: 31.01.2013 16:36:40 ******/
DROP TABLE [dbo].[Foundation_ConcreteTypes]
GO
/****** Object:  Table [dbo].[Foundation_Categories]    Script Date: 31.01.2013 16:36:40 ******/
DROP TABLE [dbo].[Foundation_Categories]
GO
/****** Object:  Table [dbo].[Factories]    Script Date: 31.01.2013 16:36:40 ******/
DROP TABLE [dbo].[Factories]
GO
/****** Object:  Table [dbo].[Equipments]    Script Date: 31.01.2013 16:36:40 ******/
DROP TABLE [dbo].[Equipments]
GO
/****** Object:  Table [dbo].[EquipmentConfigurationsArmatures]    Script Date: 31.01.2013 16:36:40 ******/
DROP TABLE [dbo].[EquipmentConfigurationsArmatures]
GO
/****** Object:  Table [dbo].[EquipmentConfigurations]    Script Date: 31.01.2013 16:36:40 ******/
DROP TABLE [dbo].[EquipmentConfigurations]
GO
/****** Object:  Table [dbo].[EquipmentConfigurationClampTypes]    Script Date: 31.01.2013 16:36:40 ******/
DROP TABLE [dbo].[EquipmentConfigurationClampTypes]
GO
/****** Object:  Table [dbo].[ConstructionGroups]    Script Date: 31.01.2013 16:36:40 ******/
DROP TABLE [dbo].[ConstructionGroups]
GO
/****** Object:  Table [dbo].[Configuration]    Script Date: 31.01.2013 16:36:40 ******/
DROP TABLE [dbo].[Configuration]
GO
/****** Object:  Table [dbo].[Clamp_Types]    Script Date: 31.01.2013 16:36:40 ******/
DROP TABLE [dbo].[Clamp_Types]
GO
/****** Object:  Table [dbo].[Clamp_Clamps]    Script Date: 31.01.2013 16:36:40 ******/
DROP TABLE [dbo].[Clamp_Clamps]
GO
/****** Object:  Table [dbo].[CableBracings]    Script Date: 31.01.2013 16:36:40 ******/
DROP TABLE [dbo].[CableBracings]
GO
/****** Object:  Table [dbo].[CableBracingConfigurations]    Script Date: 31.01.2013 16:36:40 ******/
DROP TABLE [dbo].[CableBracingConfigurations]
GO
/****** Object:  Table [dbo].[ArmatureTypes]    Script Date: 31.01.2013 16:36:40 ******/
DROP TABLE [dbo].[ArmatureTypes]
GO
/****** Object:  Table [dbo].[Armatures]    Script Date: 31.01.2013 16:36:40 ******/
DROP TABLE [dbo].[Armatures]
GO
/****** Object:  Table [dbo].[Allotment_Fixations]    Script Date: 31.01.2013 16:36:40 ******/
DROP TABLE [dbo].[Allotment_Fixations]
GO
/****** Object:  Table [dbo].[Allotment_Allotments]    Script Date: 31.01.2013 16:36:40 ******/
DROP TABLE [dbo].[Allotment_Allotments]
GO
