/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 *
  FROM 
  [ElectricalDB1].[dbo].[Armatures] as t1
  INNER JOIN 
  [ElectricalDB2].[dbo].[Armatures] as t2
  ON t1.Code = t2.Code