/****** Script for SelectTopNRows command from SSMS  ******/
CREATE DATABASE test123
GO

CREATE TABLE [test123].[dbo].[Armatures](
	[ID] [uniqueidentifier] NOT NULL,
	[ArmatureTypeID] [uniqueidentifier] NOT NULL,
	[FactoryID] [uniqueidentifier] NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Code] [nvarchar](255) NOT NULL,
	[GOST] [nvarchar](255) NOT NULL,
	[Weight] [float] NOT NULL,
	[Import] [bit] NOT NULL,
	[ProductCode] [nvarchar](255) NULL,
	[TypeProjectID] [uniqueidentifier] NULL,
	[Material] [int],
    [UnitOfMeasurement] [int],
	[Cost] [float],
	[SortOrder] [int],
	[Height] [float],
	[Width] [float],
	[SecondSizeHeight] [float],
	[ThirdSizeHeight] [float],
	[ExternalTop] [bit],
	[ExternalBottom] [bit] ,
	[ExpandPlane] [bit],
	[Image] [varbinary] (MAX),
	[FrontalDrawing] [varbinary] (MAX),
	[ProfileDrawing] [varbinary] (MAX),
	[SecondSizeDrawing] [varbinary] (MAX),
	[ThirdSizeDrawing] [varbinary] (MAX)
PRIMARY KEY([ID]))
GO
    
INSERT [test123].[dbo].[Armatures]
SELECT TOP 1000 [distrib].[ID]
      ,[distrib].[ArmatureTypeID]
      ,[distrib].[FactoryID]
      ,[converted].[Name]
      ,[converted].[Code]
      ,[converted].[GOST]
      ,[converted].[Weight]
      ,[converted].[Import]
      ,[converted].[ProductCode]
      ,[distrib].[TypeProjectID]
      ,[converted].[Material]
      ,[converted].[UnitOfMeasurement]
      ,[converted].[Cost]
      ,[converted].[SortOrder]
      ,[converted].[Height]
      ,[converted].[Width]
      ,[converted].[SecondSizeHeight]
      ,[converted].[ThirdSizeHeight]
      ,[converted].[ExternalTop]
      ,[converted].[ExternalBottom]
      ,[converted].[ExpandPlane]
      ,[converted].[Image]
      ,[converted].[FrontalDrawing]
      ,[converted].[ProfileDrawing]
      ,[converted].[SecondSizeDrawing]
      ,[converted].[ThirdSizeDrawing]
  FROM 
  [DistribElectricalDB].[dbo].[Armatures] as distrib
  INNER JOIN 
  [ConvertedElectricalDB].[dbo].[Armatures] as converted
  ON distrib.Code = converted.Code

  Update [test123].[dbo].[Armatures] set Image = NULL
  Update [test123].[dbo].[Armatures] set FrontalDrawing = NULL
  Update [test123].[dbo].[Armatures] set ProfileDrawing = NULL
  Update [test123].[dbo].[Armatures] set SecondSizeDrawing = NULL
  Update [test123].[dbo].[Armatures] set ThirdSizeDrawing = NULL